#NextServer
NODE_ENV="development"

#Prisma
DATABASE_URL=""

#BetterAuth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
NEXT_PUBLIC_BETTER_AUTH_URL=
DISCORD_SERVER_ID=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

#API
DISCORD_API_BASE=